<div class="store-viewport">
    <div class="store-container">
        <div class="row">
            <div class="col-7" id="store">
                <div class="row">
                    <div class="col-12">
                        <div class="decks-collection">
                            <div *ngFor="let number of [12,13,14,15,16,17]" 
                                class="store-item-container" 
                                cdkDrag 
                                (cdkDragEnded)="updatePosition($event,number)" 
                                (cdkDragStarted)="dragStart()" 
                                [cdkDragFreeDragPosition]="room.store[number].position" 
                                [cdkDragBoundary]="'#store'"
                                matTooltip="Click: Zoom, Right click: More options">
                                <app-card *ngIf="room.store[number] && room.store[number].quantity > 0" 
                                    [card]="room.store[number].card" 
                                    (click)="zoomImage(room.store[number].card)" 
                                    (contextmenu)="showMenu($event, number)">
                                </app-card>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="decks-collection">
                            <div *ngFor="let number of [6,7,8,9,10,11]" 
                                class="store-item-container" 
                                cdkDrag 
                                (cdkDragEnded)="updatePosition($event,number)" 
                                (cdkDragStarted)="dragStart()" 
                                [cdkDragFreeDragPosition]="room.store[number].position" 
                                [cdkDragBoundary]="'#store'"
                                matTooltip="Click: Zoom, Right click: More options">
                                <app-card *ngIf="room.store[number] && room.store[number].quantity > 0" 
                                    [card]="room.store[number].card" 
                                    (click)="zoomImage(room.store[number].card)" 
                                    (contextmenu)="showMenu($event, number)">
                                </app-card>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="decks-collection">
                            <div *ngFor="let number of [0,1,2,3,4,5]" class="store-item-container with-border">
                                <div class="store-item-container" 
                                    cdkDrag 
                                    (cdkDragEnded)="updatePosition($event,number)" 
                                    (cdkDragStarted)="dragStart()" 
                                    [cdkDragFreeDragPosition]="room.store[number].position" 
                                    [cdkDragBoundary]="'#store'"  
                                    matTooltip="Click: Zoom, Right click: More options">
                                    <app-card *ngIf="room.store[number] && room.store[number].quantity > 0" 
                                        [card]="room.store[number].card"  
                                        (click)="zoomImage(room.store[number].card)" 
                                        (contextmenu)="showMenu($event, number)">
                                    </app-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div *ngFor="let storeLog of room.storeLog" class="row">
                    <p>Player {{storeLog.playerName}} bought:</p>
                    <app-card [card]="storeLog.card" (click)="zoomImage(storeLog.card)"></app-card>
                </div>
            </div>
        </div>
    </div>
</div>

<ul (clickOutside)="onClickOutsideMenu($event)" class="dropdown-menu menu" [ngClass]="isMenuVisible ? 'show' : ''" [ngStyle]="{'left': menuX + 'px', 'top': menuY + 'px', 'position':'fixed'}">
    <li><a role="button" class="dropdown-item" (click)="moveFromStoreToDiscard()">Buy</a></li>
</ul>