<div class="players">
    <div *ngFor="let player of roomPlayers(); let playerIndex = index" class="card bg-light mb-3">
        <div class="card-header">{{player.name}}</div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <p [@simpleFadeAnimation]="player.inHand.length">InHand: {{player.inHand.length}}</p>
                </div>
                <div class="col-6">
                    <p [@simpleFadeAnimation]="player.deck.length">Draw pile: {{player.deck.length}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p [@simpleFadeAnimation]="player.played.length">Discard pile: {{player.played.length}}</p>
                </div>
                <div class="col-6">
                    <p [@simpleFadeAnimation]="player.blockades">Blockades: {{player.blockades}}</p>
                </div>
            </div>
            
            <p>Preview:</p>
            <div *ngIf="player.preview" class="cards-container">
                <app-card *ngFor="let card of player.preview; let cardIndex = index" (click)="zoomImage($event, player.playerId, cardIndex)" [card]="card"></app-card>
            </div>
        </div>
    </div>
</div>