.card-image-small {
    width: 75px;
    height: 100px;
}

.card-item {
    cursor: pointer;
}

.cards-container {
    display: flex;
}

.clickable {
    cursor: pointer;
}

.not-clickable {
    cursor: default;
}

.dropdown-item {
    cursor: pointer;
}