<div class="row">
    <div class="col-6">deck {{player.deck.length}}
        <img *ngIf="cardBackside != undefined" [src]=cardBackside.link class="card-small" [ngClass]="(player.deck.length > 0) ? 'clickable':'not-clickable'" (click)="popCard()">
    </div>
    <div class="col-6">played
        <img *ngIf="cardBackside != undefined" [src]=cardBackside.link class="card-small">
    </div>
</div>
<div class="row">
    <div>inhand {{player.inHand.length}}
        <img *ngFor="let card of player.inHand; let i = index" [src]=card.link class="card-small" (click)="popCard()">
    </div>
</div>

