.store-container {
    width: 100%;
    height: 500px;
    border: 1px solid lightgrey;
    border-top: 0;
    padding-top: 50px;
}

.decks-collection {
    display: flex;
    justify-content: space-evenly;
}

.card-image-small {
    width: 75px;
    height: 100px;
}
