<div class="store-viewport">
    <div class="store-container">
        <div class="row other-decks">
            <div class="decks-collection">
                <app-card *ngFor="let storeCard of room.store; let i = index" [cardImage]="storeCard.card.link" cdkDrag [cdkDragFreeDragPosition]="storeCard.position" (cdkDragEnded)="updateData($event,i)"></app-card>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="decks-collection">
                    <div *ngFor="let number of [0,1,2,3,4,5]" class="store-item-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
