.store-viewport {
    height: 500px;
    width: 100%;
    border: 1px solid lightgrey;
    border-top: 0;
    overflow: scroll;
}

.store-container {
    width: 1200px;
    height: 450px;
}

.row {
    margin-bottom: 30px;
}

.decks-collection {
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
}

.store-item-container {
    height: 110px;
    width: 85px;
}

.with-border {
    border: 2px solid grey;
    border-radius: 5px;
}

.other-decks {
    height: 300px;
    width: 100%;
}
