<div *ngIf="isDataLoaded">
    Let's play user Id {{playerId}}!
    <div class="row">
        <div class="col-9 tabs-container">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="Board">
                    <app-board-component [room]=room></app-board-component>
                </mat-tab>
                <mat-tab label="Store">
                    <app-store [room]=room></app-store>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-3">
            <div class="player-container">
                <app-player [player]=getPlayerData() (playerChanged)=updatePlayers($event)></app-player>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-player-status [room]=room></app-player-status>
        </div>
    </div>
</div>
  