<div *ngIf="isDataLoaded">
    <div class="row">
        <div class="col-9 tabs-container">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="Board">
                    <app-board-component [room]=room></app-board-component>
                </mat-tab>
                <mat-tab label="Store">
                    <app-store [room]=room (onZoom)="onZoom($event)"></app-store>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-3">
            <div class="player-container">
                <p>Let's play user {{getPlayerData().name}}!</p>
                <app-player [player]=getPlayerData() (playerChanged)=updatePlayer($event) (onZoom)="onZoom($event)"></app-player>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-player-status [room]=room (onZoom)="onZoom($event)"></app-player-status>
        </div>
    </div>
    <div (click)="closeZoom()" *ngIf="zoom" class="zoom-image-container" [ngStyle]="{'left': zoomX + 'px', 'top': zoomY + 'px'}">
        <img [src]=zoomImageSrc>
    </div>
</div>