<div class="players">
    <div *ngFor="let player of room.players; let playerIndex = index">
        <p>{{player.name}}</p>
        <p>InHand {{player.inHand.length}}</p>
        <p>Deck {{player.deck.length}}</p>
        <p>Discarded {{player.played.length}}</p>
        <div *ngIf="player.preview" class="cards-container">
            <app-card *ngFor="let card of player.preview; let cardIndex = index" (click)="zoomImage($event, playerIndex, cardIndex)" [card]="card"></app-card>
        </div>
    </div>
</div>